* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 166, 166, 0.205);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    color: white;
    text-align: center;
    background-color: black;
    height: 500px;
    width: 50%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: "div1 div1 div2 div2"
        "div3 div4 div4 div5"
        "div6 div7 div7 div5";

}

#div1 {
    background-color: aquamarine;
    grid-area: div1;
}

#div2 {
    background-color: burlywood;
    grid-area: div2;
}

#div3 {
    background-color: blue;
    grid-area: div3;

}

#div4 {
    background-color: blueviolet;
    grid-area: div4;

}

#div5 {
    background-color: brown;
    grid-area: div5;

}

#div6 {
    background-color: cadetblue;
    grid-area: div6;

}

#div7 {
    background-color: chartreuse;
    grid-area: div7;

}