* {
    box-sizing: border-box;
}

.side-menu {
    max-width: 400px;
}

.dropdown-menu {

    background-color: #5128c6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;
    color: white;
}

.dropdown-menu input {
    position: absolute;
    opacity: 0;
}

.dropdown-name {
    display: flex;
    gap: 8px;
}

.dropdown-menu svg {
    transition: transform 0.25s ease-in-out;
}

.dropdown-menu input:checked+svg {
    transform: rotate(180deg);
}

.menu-list {
    padding: 0;
    margin: 0;
    box-shadow:0 0 16px 0 rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    border-radius: 0 0 4px 4px;
}

.menu-list li {
    list-style-type: none;
    padding: 8px 40px;
    cursor: pointer;
}
.menu-list li:hover {
    background-color: #e5e5e5;
}
.dropdown:has(input:checked) .menu-list{
    max-height: 400px;
}
.dropdown:has(input:checked) .dropdown-menu{
    border-radius: 4px 4px 0 0;
}

.dropdown-menu.dropdown + .dropdown {
    margin-top: 16px;
}