* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#parent {
    max-width: 300px;
    max-height: 500px;
    color: wheat;
    background:linear-gradient(black) padding-box,
            conic-gradient(from var(--rotate), black, rgb(243, 243, 40), black, black) border-box;
    border-radius: 5px;
    box-shadow: 0 0 0px rgb(208, 208, 63);
    animation: rotatebox 4s infinite linear;
    border: 0px solid rgba(0, 0, 0, 0.784);
    animation-play-state: paused;
    transition: all 0.3s linear;
}

#parent:hover{
    animation-play-state: running;
    box-shadow: 0 0 30px rgb(208, 208, 63);
    border: 5px solid rgba(0, 0, 0, 0.468);
    color: aqua;
    text-shadow: 0 0 10px;
    
}

img {
    width: 100%;
}

@keyframes rotatebox {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}