*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

#parent{
    max-width: 300px;
    height: 200px;
    background-color: rgba(255, 0, 0, 0.415);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgb(208, 208, 63);
}

img{
    width: 100%;
    height: 100%;
}